# Игнорируем node_modules во всех директориях
**/node_modules

# Игнорируем файлы сборки и кэша
dist
build
.cache
.turbo

# Игнорируем логи и временные файлы
*.log
*.tmp
*.pid
*.seed
*.pid.lock

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем тестовые файлы
**/*.spec.*
**/*.test.*
**/__tests__

# Игнорируем конфигурации среды
.env
.env.*
!.env.example

# Игнорируем документацию
docs
**/*.md

# Игнорируем IDE файлы
.idea
.vscode
*.swp