.pageContainer {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin-bottom: 32px !important;
  font-weight: 600;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.alert {
  margin: 24px;
}
