.orderList {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.orderItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f1f1f1;
  }
}

.orderDetails {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
