.parentContainer {
    position: relative; /* Родительский контейнер */
}

.root {
    position: relative; /* Блок категорий */
    transition: transform 0.2s ease-in-out; /* Для плавных изменений */
}

.fixed {
    position: fixed; /* Фиксация блока при достижении конца */
    top: 0; /* Блок прилипает к верхней границе окна */
}

.title {
    font-family: "Roboto";
    font-size: 1.25rem;
    padding-left: 1rem;
}

.rootList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
