.filterList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    display: block;
    font-size: 1.5rem;
}

.listTitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .15px;
    margin-bottom: .5rem;
    font-weight: 500;
    font-family: "Roboto";
}

.booleanSelect {
    display: flex;
    flex-direction: column;

    & > label {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
}

.selected {
    background-color: red;
}

.optionList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button.showMoreButton {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1px;
    text-transform: none;
}
