.title {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.root {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(4, 1fr);
    
    @media (max-width: 1456px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 678px) {
        grid-template-columns: 1fr;
    }
}